body{
    background-color: rgb(240, 238, 245);
}
.main {
    padding: 6%;
}

h1 {
    font-family: monospace;
}

p {
    font-size: 2rem;
}

.header {
    text-align: center;
}

.container {
    padding: 50px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: rgb(198, 199, 204);
}
table {
    font-size: 22px;
}

.label {
    font-family: Georgia;
}

input {
    width: 80%;
}